
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* shared style */
.text-primary{
    color: #FD6E0A;

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #f3e6dce9;
}
.text-center{
    text-align: center;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}

/* banner styles */
.banner-gretings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px
}
.banner-pro-pic{
    width: 580px;
}.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.item-description{
    font-weight:700 ;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.about-item{
    text-align: center;
    
}.item-title{
    color:#757575;
}
/* skills */

.skill-container{
    display: flex;
    
}
.skill{
    background-color: aliceblue;
    margin: 25px 25px;
    padding: 25px 25px;
    border-radius: 7px;
    box-shadow: 0px 6px 20px 0px black;
}
.skill-description {
    color: #757575;

}.skill-title{
    font-weight: 700;
}

/* resume section */
.resume-container{
    display: flex;
    gap: 24px;
}


.experience-description, .experience-sub-title{
    color: #757575;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.resume-colum-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    
}
.experience-sub-title{
    font-size: 20px;
    margin-bottom: 20px;
    
}
.section-tilte{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    margin: 100px 0;
}